<!DOCTYPE html>
<html>
    <head>
        <title>OpenNebula Zones Admin Console</title>
        <meta http-equiv="content-type" content="text/html; charset=iso-8859-1">
    
        <!-- Vendor Libraries -->
        <script type="text/javascript" src="/vendor/jQuery/jquery-1.4.4.min.js"></script>
   
        <!-- End Vendor Libraries -->
        
        <!-- Custom Libraries -->
        <script type="text/javascript" src="/js/ozones.js"></script>
        <!-- End Custom Libraries -->
    
    </head>
    <body>
        oZones Body
    </body>
</html>
